**/__pycache__/
*.pdf
*.png
!**/code/evaluation/**/*.pdf
!**/thesis.pdf
!**/TEX/**/*.pdf
!**/TEX/**/*.png
!**/TEX/**/*.jpg
.vscode/
**/.degree-constrained-triangulation/
**/degree_constrained_triangulation.egg-info
**/build/
**/instance/error
**/.conan/
*.pyd
*.so
*.exe
CMakeUserPresets.json

code/src/stupid_hostname.py
**/error/
.DS_Store

profile.html
profile.json


**/cmake-build/*
**/_skbuild/*

*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.lof
*.lot
*.bcf
*.run.xml